<pgcard
  [Loading]="!patient"
  [ShowMessage]="patient && patient == -1"
  [Message]="message"
  Maximize="false"
  Refresh="false"
  ProgressType="bar"
  MinimalHeader="true"
  AdditionalClasses="mb-2"
>
  <ng-template #CardTitle>Paciente</ng-template>
  <ng-template #CardExtraControls></ng-template>
  <div *ngIf="patient && patient != -1">
    <h4 class="my-0">{{ (patient.firstName + ' ' + patient.lastName) | titlecase }}</h4>
    <div class="mb-2">
      <span class="badge badge-info m-r-5">{{ patient.run }}</span>
      <span class="badge badge-info m-r-5">{{ patient.age }}</span>
      <span class="badge badge-info">{{ patient.genre }} </span>
    </div>
    <div>
      <input
        type="email"
        class="form-control input-sm mt-1"
        name="correo"
        [(ngModel)]="patient.email"
        placeholder="Email"
      />
    </div>
    <div class="mt-2">
      <button
        class="btn btn-sm"
        [routerLink]="['/rme/list/pat/', patient.run]"
        routerLinkActive="router-link-active"
      >
        <fa-icon [icon]="['far', 'folder']" class="mr-1"></fa-icon>
        Ver Recetas
      </button>
    </div>
  </div>
</pgcard>
