<div class="modal-header py-2">
  <h4 class="modal-title pull-left inline">Receta Médica Electrónica</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">
      <fa-icon [icon]="['fas', 'times']" size="xs"></fa-icon>
    </span>
  </button>
</div>
<div class="modal-body p-l-0 p-r-0 p-b-0" style="height: 500px">
  <div *ngIf="loading" class="padding-50">
    <pg-progress type="circle" indeterminate="true" color="complete" thick="true"></pg-progress>
  </div>
  <div role="alert" class="alert alert-danger block m-4" *ngIf="!loading && !showPdf" [@fadeIn]>
    <p>{{ msg }}</p>
  </div>
  <ngx-extended-pdf-viewer [base64Src]="this.pdfRme" backgroundColor="#414141" [height]="'100%'" [useBrowserLocale]="true"
    [handTool]="false" [showHandToolButton]="true" [showPrintButton]="true" [showBookmarkButton]="false" [showOpenFileButton]="false" [showFindButton]="false" *ngIf="showPdf && !loading" [@fadeIn]>
  </ngx-extended-pdf-viewer>
</div>
