<pg-container>
  <div class="row">
    <div class="col-8 mb-4">
      <app-block-recipe></app-block-recipe>
      <!-- <div class="mt-2" *ngIf="hasMedications()">
        <button class="btn btn-complete mr-2" (click)="save(true)">
          Vista previa
        </button>
        <button class="btn btn-primary" (click)="save(false)">
          Firmar y Enviar
        </button>
      </div> -->
    </div>
    <div class="col-4 pb-3 pt-2">
      <app-block-professional></app-block-professional>
      <app-block-patient></app-block-patient>
      <app-block-frequent-med></app-block-frequent-med>
    </div>
  </div>
</pg-container>

