<pgcard
  [Loading]="!patient"
  [ShowMessage]="patient && patient == -1"
  [Message]="message"
  Maximize="false"
  Refresh="false"
  ProgressType="bar"
  MinimalHeader="true"
  AdditionalClasses="mb-2"
>
  <ng-template #CardTitle>Paciente</ng-template>
  <ng-template #CardExtraControls></ng-template>
  <div *ngIf="patient && patient != -1">
    <h4 class="my-0">
      {{ patient.firstName + ' ' + patient.lastName | titlecase }}
    </h4>
    <div class="mb-2">
      <span class="badge badge-info m-r-5">{{ patient.run }}</span>
      <span class="badge badge-info m-r-5">{{ patient.age }}</span>
      <span class="badge badge-info">{{ patient.genre }} </span>
    </div>
    <div>
      <button
        class="btn btn-sm mr-1"
        [routerLink]="['/rme/new/pat/', patient.run]"
        routerLinkActive="router-link-active"
      >
        <fa-icon [icon]="['fas', 'plus']" class="mr-1"></fa-icon>
        Nueva Receta
      </button>
      <button
        class="btn btn-sm"
        [routerLink]="['/rme/list/pat/', patient.run]"
        routerLinkActive="router-link-active"
      >
        <fa-icon [icon]="['far', 'file-alt']" class="mr-1"></fa-icon>
        Ver Todas
      </button>
    </div>
  </div>
</pgcard>
