<h4 class="">Busque el medicamento o principio activo</h4>
<input class="form-control input-lg" placeholder="medicamento o principio activo" [(ngModel)]="asyncSelected"
  [typeaheadAsync]="true" [typeahead]="dataSource" (typeaheadOnSelect)="typeaheadOnSelect($event)"
  (typeaheadLoading)="changeTypeaheadLoading($event)" (typeaheadNoResults)="changeTypeaheadNoResults($event)"
  [typeaheadScrollable]="true" [typeaheadOptionsInScrollableView]="5" [typeaheadHideResultsOnBlur]="false"
  typeaheadMinLength="3" typeaheadWaitMs="1000" typeaheadOptionField="name" />
<pg-progress type="bar" indeterminate="false" color="complete" class="m-0 mt--3" *ngIf="typeaheadLoading"></pg-progress>
<div class="alert alert-warning" *ngIf="typeaheadNoResults">
  No encontramos resultados
</div>
<div class="p-2 pt-3">
  <ul class="list-group list-group-flush">
    <app-block-recipe-indication *ngFor="let item of indications?.controls; index as i" [indForm]="item" [index]="i"
      [@fadeIn] class="mb-3"></app-block-recipe-indication>
  </ul>
</div>
<div class="mt-2" *ngIf="hasMedications()">
  <button class="btn btn-complete btn-lg mr-2" [disabled]="rmeForm.invalid" (click)="save(true)">
    Vista previa
  </button>
  <button class="btn btn-primary btn-lg" [disabled]="rmeForm.invalid" (click)="save(false)">
    Firmar y Enviar
  </button>
</div>
<div class="modal fade stick-up" bsModal #modalRme="bs-modal" tabindex="-1" role="dialog"
  aria-labelledby="modal-resumen">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header py-2">
        <h4 class="modal-title pull-left inline">Receta Médica Electrónica</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRme.hide()">
          <span aria-hidden="true">
            <fa-icon [icon]="['fas', 'times']" size="xs"></fa-icon>
          </span>
        </button>
      </div>
      <div class="modal-body p-l-0 p-r-0 p-b-0" style="height: 500px">
        <div *ngIf="isLoadingModal" class="padding-50">
          <pg-progress type="circle" indeterminate="true" color="complete" thick="true"></pg-progress>
        </div>
        <div role="alert" class="alert alert-danger block m-4" *ngIf="!showPdf && !isLoadingModal">
          <p>
            Algo sali&oacute; mal, por favor, int&eacute;ntelo nuevamente en
            unos minutos.
          </p>
        </div>
        <ngx-extended-pdf-viewer [src]="this.pdfRme" backgroundColor="#414141" [height]="'100%'"
          [useBrowserLocale]="true" [handTool]="false" [showHandToolButton]="true" [showPrintButton]="true" [showBookmarkButton]="false" [showOpenFileButton]="false" [showFindButton]="false" *ngIf="showPdf && !isLoadingModal" [@fadeIn]>
        </ngx-extended-pdf-viewer>
      </div>
      <div class="modal-footer p-2" *ngIf="preview">
        <div class="w-100 d-flex flex-row">
          <button class="btn btn-primary" (click)="save(false)" [disabled]="isLoadingModal">
            Firmar y Enviar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
