<h4 class="mb-0">Busque el medicamento o principio activo</h4>
<input
    class="form-control input-lg"
    placeholder="medicamento o principio activo"
    [(ngModel)]="asyncSelected"
    [typeaheadAsync]="true"
    [typeahead]="dataSource"
    (typeaheadOnSelect)="typeaheadOnSelect($event)"
    (typeaheadLoading)="changeTypeaheadLoading($event)"
    (typeaheadNoResults)="changeTypeaheadNoResults($event)"
    [typeaheadScrollable]="true"
    [typeaheadOptionsInScrollableView]="5"
    [typeaheadHideResultsOnBlur]="false"
    typeaheadMinLength="3"
    typeaheadWaitMs="1000"
    typeaheadOptionField="name"
  />
  <pg-progress
    type="bar"
    indeterminate="false"
    color="complete"
    class="m-0 mt--3"
    *ngIf="typeaheadLoading"
  ></pg-progress>
  <div class="alert alert-warning" *ngIf="typeaheadNoResults">
    No encontramos resultados
  </div>
<div class="p-2">
  <ul class="list-group list-group-flush">
    <app-block-medication-recipe
      *ngFor="let item of receta | async; index as i"
      [item]="item"
      [index]="i"
      [@fadeIn]
      class="mb-2"
    ></app-block-medication-recipe>
  </ul>
</div>
<!-- <div class="p-2">
</div> -->
