<pgcard
  [Loading]="isLoading"
  [ShowMessage]="
    !isLoading && (medicationHighFrequency && medicationHighFrequency == -1)
  "
  [Message]="message"
  Maximize="false"
  Refresh="false"
  ProgressType="bar"
  MinimalHeader="true"
  AdditionalClasses="mb-2"
>
  <ng-template #CardTitle>Indicaciones frecuentes</ng-template>
  <ng-template #CardExtraControls></ng-template>
  <div *ngIf="medicationHighFrequency && medicationHighFrequency != -1">
    <ul class="list-unstyled ml-4">
      <li *ngFor="let item of medicationHighFrequency; index as i">
        <input
          class="form-check-input"
          type="checkbox"
          [(ngModel)]="item.checked"
          id="fre_{{ i }}"
        />
        <label class="form-check-label" for="fre_{{ i }}">
          <div>
            <span class="block bold">{{ item.medication.name | titlecase }}</span>
            <span class="small">
              <span *ngIf="item.frecuencyType != 'Diario' && item.frecuencyType != 'Semanal' && item.frecuencyType != 'Mensual'">{{item.frecuencyType}}: </span>
              {{item.units + ' ' + item.unitType}} cada {{ item.frecuency + ' ' + item.frecuencyUnit }}
              <span *ngIf="item.frecuencyType == 'Diario' || item.frecuencyType != 'Semanal' || item.frecuencyType != 'Mensual'">por {{item.duration + ' ' + item.durationUnit}}</span>
            </span>
          </div>
        </label>
      </li>
    </ul>
    <button
      class="btn btn-complete"
      (click)="addToRme()"
      *ngIf="medicationHighFrequency"
    >
      <fa-icon [icon]="['fas', 'chevron-left']" class="m-r-5"></fa-icon>
      Agregar a receta
    </button>
  </div>
</pgcard>
