<li class="list-group-item">
  <div class="d-flex">
    <div class="flex-fill form-inline">
      <h4 class="mb-0 mt-0 inline">
        <span class="semi-bold">{{ item.medication.name | titlecase }}</span>
        <span *ngIf="item.commercialRecommendation" class="m-0 small light" [@fadeIn]> / {{item.commercialRecommendation.name | titlecase}} <button class="btn btn-rounded btn-xs mt--3" (click)="item.commercialRecommendation = false"><fa-icon [icon]="['fas', 'times']"></fa-icon></button></span>
      </h4>
      
    </div>
    <div class="ml-1">
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="delMedication()"
        class="btn btn-rounded"
      >
        <span aria-hidden="true">
          <fa-icon [icon]="['far', 'trash-alt']"></fa-icon>
        </span>
      </button>
    </div>
  </div>
  <div class="row my-2" *ngIf="!item.commercialRecommendation" [@fadeIn]>
    <div class="col-12">
      <input
        class="form-control form-control-sm input-sm inline w-100"
        placeholder="Recomendación"
        [(ngModel)]="asyncSelectedRecommendation"
        [typeaheadAsync]="true"
        [typeahead]="dataSourceRecommendation"
        (typeaheadOnSelect)="typeaheadOnSelectRecommendation($event, i)"
        (typeaheadLoading)="changeTypeaheadLoadingRecommendation($event)"
        (typeaheadNoResults)="changeTypeaheadNoResultsRecommendation($event)"
        [typeaheadScrollable]="true"
        [typeaheadOptionsInScrollableView]="5"
        [typeaheadHideResultsOnBlur]="false"
        typeaheadMinLength="3"
        typeaheadWaitMs="1000"
        typeaheadOptionField="name"
      />
      <pg-progress
        type="bar"
        indeterminate="false"
        color="complete"
        class="m-0 mt--3"
        *ngIf="typeaheadLoadingRecommendation"
      ></pg-progress>
      <div class="alert alert-warning" *ngIf="typeaheadNoResultsRecommendation">
          No encontramos resultados
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="form-group">
        <label for="posologiaValue">Posología:</label>
        <div class="row">
          <div class="col-4 pr-1">
            <input
              type="number"
              min="1"
              class="form-control"
              [(ngModel)]="item.posology.value"
              id="posologyValue"
              name="posologyValue"
              required
            />
          </div>
          <div class="col-8 pl-1">
            <!-- {{item.medication.composition.medicationForm.desc}} -->
            <select class="custom-select" [(ngModel)]="item.posology.unit">
              <option
                [ngValue]="item"
                *ngFor="
                  let item of item.medication.composition.medicationForm
                "
                >{{ item.desc }}</option
              >
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
        <label for="frecuencyValue">Cada (Horas):</label>
        <input
          type="number"
          min="1"
          class="form-control"
          [(ngModel)]="item.frecuency.value"
          id="frecuencyValue"
          name="frecuencyValue"
        />
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label for="durationValue">Duración:</label>
        <div class="">
          <div class="row">
            <div class="col-3 pr-1" *ngIf="item.duration.unit == 'Diario'">
              <input
                type="number"
                min="1"
                class="form-control"
                [(ngModel)]="item.duration.value"
                id="durationValue"
                name="durationValue"
              />
            </div>
            <div
              class="pl-1"
              [ngClass]="{
                'col-9': item.duration.unit == 'Diario',
                'col-12': item.duration.unit != 'Diario'
              }"
            >
              <div
                class="btn-group full-width"
                btnRadioGroup
                [(ngModel)]="item.duration.unit"
              >
                <label
                  class="btn btn-primary"
                  btnRadio="{{ item.code }}"
                  tabindex="0"
                  role="button"
                  *ngFor="let item of durationType"
                  >{{ item.label }}</label
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="form-group">
        <label for="dateStart">Inicio Tratamiento:</label>
        <!-- <input
          type="date"
          class="form-control"
          id="dateStart"
          name="dateStart"
          [(ngModel)]="item.indicationStartDate"
        /> -->
        <input
          class="form-control"
          #datepickerMDY="bsDatepicker"
          bsDatepicker
          [(ngModel)]="item.indicationStartDate"
          [minDate]="minDate"
          [bsConfig]="{
            dateInputFormat: 'DD/MM/YYYY',
            containerClass: 'theme-dark-blue',
            showWeekNumbers: false,
            selectFromOtherMonth: true
          }"
        />
      </div>
    </div>
    <div class="col-9">
      <div class="form-group">
        <label for="observations">Observaciones:</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="item.observations"
          id="observations"
          name="observations"
        />
      </div>
    </div>
  </div>
</li>