<!-- WRAP LAYOUT IF BOXED -->
<div class="container" *ngIf="_boxed; else basicLayoutBlock">
  <ng-container *ngTemplateOutlet="contentTpl"></ng-container>
</div>
<ng-template #basicLayoutBlock>
  <ng-container *ngTemplateOutlet="contentTpl"></ng-container>
</ng-template>

<!-- YOUR LAYOUT CONTENT GOES INSIDE HERE -->
<ng-template #contentTpl>
  <!-- PAGE SIDEBAR -->
  <pg-sidebar>
    <ng-template #sideBarHeader>
      <img
        src="/assets/img/logo-red-salud-full-white.svg"
        alt="logo"
        class="brand logo-full-white"
      />
      <div class="sidebar-header-controls">
        <button
          type="button"
          class="btn btn-link d-lg-inline-block d-xlg-inline-block d-md-inline-block d-sm-none d-none"
          data-toggle-pin="sidebar"
          (click)="toggleMenuPin()"
        >
          <i class="fa fs-12"></i>
        </button>
      </div>
    </ng-template>
    <ng-template #menuItems>
      <pg-menu-items [Items]="menuLinks"> </pg-menu-items>
    </ng-template>
  </pg-sidebar>
  <!-- PAGE CONTAINER -->
  <page-container>
    <pg-header [boxed]="_boxed">
      <!-- START MOBILE SIDEBAR TOGGLE -->
      <a
        href="javascript:void(0);"
        class="btn-link toggle-sidebar d-lg-none pg pg-menu"
        (click)="toggleMobileSidebar()"
      ></a>
      <!-- END MOBILE SIDEBAR TOGGLE -->
      <div class="">
        <div class="brand inline" [class.d-none]="_layoutOption === 'email'">
          <img
            class="logo-full-color m-l-100 sm-m-l-0 md-m-l-0"
            src="/assets/img/logo-red-salud-full.svg"
          />
        </div>
        <!-- START NOTIFICATION LIST -->
        <ul
          class="d-lg-inline-block d-none notification-list no-margin d-lg-inline-block b-grey b-l no-style p-l-30 p-r-20"
        >
          <li class="p-r-10 inline">
            <h3 class="m-0">Receta Médica Electrónica</h3>
          </li>
        </ul>
      </div>
      <div
        class="d-flex align-items-center"
        *ngIf="professional as professional"
      >
        <!-- START User Info-->
        <div class="pull-left p-r-10 fs-14 font-heading d-lg-block d-none" *ngIf="professional != -1">
          <span class="semi-bold">{{
            professional?.firstName + ' ' + professional.lastName | titlecase
          }}</span>
        </div>
        <div class="dropdown pull-right d-lg-block d-none" dropdown  *ngIf="professional != -1">
          <button
            class="profile-dropdown-toggle"
            type="button"
            dropdownToggle
            id="profileDropdown"
          >
            <span class="thumbnail-wrapper d32 circular inline">
              <img [src]="urlProfile" alt="" width="32" height="32" />
            </span>
          </button>
          <div
            class="dropdown-menu dropdown-menu-right profile-dropdown"
            *dropdownMenu
            role="menu"
          >
          </div>
        </div>
      </div>
    </pg-header>
    <div class="page-content-wrapper {{ _pageContainerClass }}">
      <!-- START PAGE CONTENT -->
      <div class="content {{ _contentClass }}">
        <router-outlet></router-outlet>
      </div>
      <!-- END PAGE CONTENT -->
      <!-- START COPYRIGHT -->
      <ng-template [ngIf]="_footer">
        <div class=" container-fluid container-fixed-lg footer">
          <div class="copyright sm-text-center">
            <p class="small no-margin pull-left sm-pull-reset">
              <span class="font-montserrat"
                >Red de Salud UC CHRISTUS © &nbsp;</span
              >
              <span class="hint-text">Todos los derechos reservados</span>
              <span class="hint-text"></span>
            </p>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- END COPYRIGHT -->
      </ng-template>
    </div>
  </page-container>
  <app-floating-help></app-floating-help>
  <!-- QUICKSEARCH -->
  <!-- <app-search-overlay></app-search-overlay> -->
  <!-- QUICKVIEW -->
  <!-- <app-quickview></app-quickview> -->
</ng-template>
